.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.switch.switch-default .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    /* background-color: #664343; */
    border: 1px solid #2e3235;
    border-radius: 2px;
    transition: opacity background .15s ease-out;
}

.switch.switch-default .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #52575c;
    border-radius: 1px;
    transition: left .15s ease-out;
}

.btn {
    border-radius: 4px;
}